.CentroAyuda {
  font-family: "Segoe UI", sans-serif;
  background: #fff;
  color: #333;
  overflow-y: hidden;
  max-height: 93.5vh;
}

.NavbarAyuda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #00A859;
}

.logoAyuda {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.logoAyuda span{
  font-size: 20px;
  font-weight: bold;
  color: #001d0c;
}

.LinksAyuda {
  display: flex;
  gap: 20px;
  align-items: center;
}

.LinksAyuda a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.settings-icon {
  font-size: 18px;
  cursor: pointer;
}

.HeaderAyuda {
  text-align: center;
  padding: 40px 20px;
  background: #007A33;
}

.HeaderAyuda h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

.BusquedaAyuda{
  width: 80vh;
  padding: 22px;
  font-size: 16px;
  border-radius: 45px;
  border: 1px solid #ccc;
  background: white;
}

.Busquedas {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.Busquedas button {
  background: #00A859;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.help-intro {
  padding: 40px 20px;
  height: 59dvh;
  text-align: center;
}

.help-intro h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.contenedorAyuda {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.TarjetaAyuda  {
  display: flex;
  flex-direction: column;
}

.card  {
  width: 20vw;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
}

.card svg {
  width: 100%;
  height: 32vh;
  border-radius: 8px;
  margin-bottom: 10px;
}

.textoAyuda p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #444;
}
