/* COLORES DEL COMPONENTE DASHBOARD */
:root {
  --color-primario: #007A33;
  --color-primario-claro: #5eb319;
  --color-secundario: #2C497F;
  --color-acento: #B4CDED;
  --color-gris: #919191;
}

/* CONTENEDOR PRINCIPAL */
.dashboard-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  background-color: var(--color-acento);
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 16vw;
  height: 100%;
  padding: 10px;
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* SIDEBAR COLAPSADA */
.sidebar.sidebar-collapsed {
  max-width: 5vw;
  background-color: var(--color-secundario);
}

/* LOGO Y BOTÓN DE COLAPSAR */
.logoDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 100%;
}

.ocultar-logo img {
  display: none;
}


.logoDashboard img {
  width: 60%;
}

.ocultar-logo img {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logoDashboard button {
  background: #fff;
}

.toggleBarra {
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}

.toggleBarra svg {
  width: 40px !important;
  height: 40px !important;
  stroke-width: 1;
}

/* MENÚ PRINCIPAL */
.upperSidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}
.sidebar-collapsed .toggleBarra {
  background: transparent;
}



.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.sidebarLink {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: 0.25s all;
}

.sidebarLink:hover{
  color: white;
  background: none;
}

.sidebarLink svg {
  width: 32px !important;
  height: 32px !important;
  stroke-width: 1;
}

.sidebarLink svg path {
  stroke-width: 1.3px;
}

.menu a:hover {
  background-color: var(--color-primario-claro);
}

/* BOTONES INFERIORES */
.botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.25s all;
  color: black;
}

/* BOTÓN PERSONALIZADO */
.boton-dashboard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--color-primario);
  color: white;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-dashboard:hover {
  background:none;
  border: 2px solid var(--color-primario-claro);
  color: black;
}

/* TEXTO */
span {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.25s all;
}

/* ESTILOS PARA LA BARRA COLAPSADA */
.sidebar.sidebar-collapsed .logoDashboard {
  justify-content: center;
  padding: 20% 0;
}

.sidebar.sidebar-collapsed .toggleBarra svg {
  color: white;
}

.sidebar.sidebar-collapsed .sidebarLink {
  justify-content: center;
  padding: 10px;
  color: #FAFAF9;
}

.sidebar.sidebar-collapsed .sidebarLink span,
.sidebar.sidebar-collapsed .boton-dashboard span {
  display: none;
}

.sidebar.sidebar-collapsed .botones {
  align-items: center;
}

.sidebar.sidebar-collapsed .botones .sidebarLink:hover {
  background-color: var(--color-primario-claro);
}

.sidebar.sidebar-collapsed .botones .sidebarLink svg {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
}

/* CONTENIDO PRINCIPAL */
.main-content {
  background-color: var(--color-primario-claro);
}

.dashboard-header h1 {
  color: var(--color-primario);
  margin-bottom: 10px;
}

.dashboard-header p {
  color: var(--color-gris);
  margin-bottom: 30px;
}
