/* Contenedor general del formulario */
.form-wrapper {
    min-width: 100dvw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #f5f5f5, #e8f5e9);
}

.actualizar-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 900px;
    color: #333;
    }

/* Título */
.actualizar-form h2 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
}

.actualizar-form h3{
    text-align: center;
    font-weight: 600;
}

/* Fila de dos columnas */
.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    }

/* Cada campo */
.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Etiquetas */
.form-group label {
    margin-bottom: 5px;
    color: #000;
}

/* Inputs */
.form-group input {
    padding: 10px;
    border: 2px solid #5eb319;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #000;
}

.form-group input:focus {
    outline: none;
    border-color: #2e7d32;
    background-color: #e6ffe6;
}

/* Contraseña */
.Cambiar-contraseña {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);  
}
.Cambiar-contraseña h2{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
}

.contrasena{
    display: flex;
    justify-content: space-around;
}

.nueva-contrasena {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.nueva-contrasena label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #444;
  width: 20dvw;
}

.nueva-contrasena p {
  margin: 0;
  color: #555;
  padding: 10px;
  background-color: #f9f9f9;  
  border: 2px solid #ccc;
  border-radius: 8px;
  color: #000;
  margin: 0;
}

/* Botón */
.actualizar-form button {
    width: 100%;
    padding: 12px;
    background-color: #1b5e20;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.actualizar-form button:hover {
    background-color: #2e7d32;
}
