/* Contenedor principal */
.contenedorConfiguracion{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80dvw;
  height: 93dvh;
}
.configuracion {
  width: 60dvw;
  height: auto;
  padding: 10px 30px;
  background-color: #fdfdfd;
  border-radius: 12px;
  border: 1px solid gray;
  box-shadow: 2px 2px 4px gray;
  font-family: "Segoe UI", sans-serif;
}
.configuracion h2 {
  font-size: 28px;
  font-weight:600;
  color: #000;
  text-align: center;
  padding: 20px 0;
}                                 

/* Subpanel: datos + foto */
.configuracion-middle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
/* Datos personales */
.configuracion-middle > div {
  flex: 1;
}
.columnas-configuracion{
  padding: 10px 0px;
}
.columnas-configuracion p{
  font-size: 18px;
}
.columnas-configuracion {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.columnas-configuracion label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
}
.columnas-configuracion p {
  font-size: 1rem;
  padding: 10px;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 8px;
  color: #000;
  margin: 0;
}
/* Foto de configuracion */
.foto-configuracion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.configuracion-avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid gray;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Botones finales */
.botones-configuracion {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.boton-actualizar {
  padding: 12px 20px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.volverConfiguracion{
  background:none;
  padding: 0px;
  align-items: end;
  margin-top: 20px;
}

.boton-actualizar:hover {
  background-color: #4caf50;
}

/* Responsive */
@media (max-width: 768px) {
  .informacion-configuracion {
    flex-direction: column;
  }

  .configuracion-middle {
    flex-direction: column;
    align-items: center;
  }

  .botones-acciones {
    flex-direction: column;
    gap: 15px;
  }

  .boton-volver,
  .boton-actualizar {
    width: 100%;
  }
}

