.contacto {
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #f5fdf6;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.contacto h2 {
  font-size: 2rem;
  color: #006400;
  margin-bottom: 10px;
}

.contacto p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 30px;
}

.grid-contactos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: center;
}

.card-contacto {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20dvw;
}

.card-contacto:hover {
  transform: translateY(-5px);
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 2px 4px 2px gray;
}

.card-contacto h3 {
  font-size: 1.2rem;
  color: #004d40;
  margin-bottom: 5px;
}

.card-contacto .cargo {
  font-size: 0.95rem;
  color: #666;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.card-contacto p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 15px;
  text-align: center;
}

.btn-contactar {
  display: inline-block;
  padding: 8px 16px;
  background-color: #008000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.btn-contactar:hover {
  background-color: #006400;
}
