.contenedorFuncionalidades {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.flip-card {
  background: transparent;
  width: 20vw;
  height: 35vh;
  perspective: 1000px; 
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg); 
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 2px 2px 4px gray;
  border: 2px solid #00A859;
  padding: 1rem;
  text-align: center;
}

.flip-card-front {
  background-color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
}

.flip-card-back p{
  color: black;
}
