@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.seccionManuales{
  width:auto;
  display: flex;
  gap: 40px;
}

.tarjetas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #232427;
  padding: 40px;
}

.tarjetaManuales{
  width: auto;
  height: auto;
  background: transparent;
  border-radius: 25px;
  box-shadow: 2px 6px 2px gray;
}

.box {
  width: 15vw;
  height: 20vw;
  background: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  margin: 20px;
}

.tarjetaManuales .box:hover {
  transform: translateY(-50px);
}

.tarjetaManuales .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

}

.tarjetaManuales .box .content {
  padding: 20px;
  text-align: center;
}

.tarjetaManuales .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.tarjetaManuales .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 15px;
}

.tarjetaManuales .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}

.tarjetaManuales .box .content a {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  background: green;
}

.tarjetaManuales .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
