.reglas {
  width: 100%;
  height: 100%;
  padding: 28px;
  background-color: #f9f9f9;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.reglas h2 {
  font-size: 1.6rem;
  color: #004d40;
  margin-bottom: 10px;
}

.reglas p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
}

.lista-reglas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 78dvw;
  margin: 0 auto;
}

.card-regla {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-left: 6px solid #008000;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  height: 6vw;
}

.card-regla:hover {
  transform: translateY(-3px);
}

.numero {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(135deg, #008000, #00b894);
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.contenido h3 {
  font-size: 1.1rem;
  color: #004d40;
  margin-bottom: 5px;
  text-align: left;
}

.contenido p {
  font-size: 0.95rem;
  color: #666;
  text-align: left;
}
